//header
span{
    color: white;
}

::ng-deep nz-content{
    height: 100vh;
}

.Components {
    padding: 20px;

    .ComponentsRow{
        margin: 0 0 14px 100px;

        * {
            margin-right: 10px;
        }
    }
}

button{
    padding-right: 0 7px;
}