<nz-layout>
  <nz-header>
    <span>Kit Styles Consigliere</span>
  </nz-header>
  <nz-content>
    <div class="Components">
      <nz-divider nzText="Buttons" nzOrientation="left"></nz-divider>
      <div class="ComponentsRow">
        <button nz-button nzType="primary">Primary</button>
        <button nz-button nzType="primary" disabled>Primary</button>
        <button nz-button nzType="primary" nzLoading>Primary</button>
      </div>
      <div class="ComponentsRow">
        <button nz-button nzType="default">Default</button>
        <button nz-button nzType="default" disabled>Default</button>
        <button nz-button nzType="default" nzLoading>Default</button>
      </div>
    </div>

    <div class="Components">
      <nz-divider nzText="Link" nzOrientation="left"></nz-divider>
      <div class="ComponentsRow">
        <a nz-button nzType="link">Link</a>
        <a nz-button nzType="link" disabled>Link</a>
      </div>
    </div>

    <div class="Components">
      <nz-divider nzText="Checkbox" nzOrientation="left"></nz-divider>
      <div class="ComponentsRow">
        <label nz-checkbox [(ngModel)]="checked">Enable</label>
        <label nz-checkbox [(ngModel)]="unchecked">Enable</label>
        <label nz-checkbox nzDisabled [ngModel]="false">Disable</label>
        <label nz-checkbox nzDisabled [ngModel]="true">Disable</label>
      </div>
    </div>


  </nz-content>
</nz-layout>